.updateOrderForm {
    margin: 3vmax 0;
    padding: 2vmax;
    background-color: white;
  }

  .confirmOrderPage{
    display: flex;
  }

  .process-product-image{
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .updateOrderForm > div {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #ffd90c;
    padding: 20px;
  }

  .updateOrderForm h1{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #000;
  }

  .updateOrderForm > div > select {
    padding: 1vmax 4vmax;
    margin: 2rem 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax "Merriweather Sans";
    outline: none;
  }
  
  .updateOrderForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  @media screen and (max-width: 600px) {
    .updateOrderForm {
      padding: 5vmax;
    }
  
    .updateOrderForm > div > select {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax "Merriweather Sans";
    }
  
    .updateOrderForm > div > svg {
      font-size: 2.8vmax;
    }
  }

  .process-order-shipping-info{
    box-shadow: 2px 2px 2px 2px #ffd90c;
    margin: 30px 20px 20px 20px;
    padding: 10px;
  }

  .process-order-shipping-info div{
    display: flex;
  }

  .process-order-shipping-info div p{
    font-weight: 500;
  }

  .process-order-shipping-info span{
    margin-left: 10px;
  }

  .process-order-shipping-info-name{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #000;
  }

  .process-order-status{
    display: flex;
  }

  .process-order-status h1{
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin: 6px 10px 0px 20px;
  }

  .process-order-status p{
    margin-top: 3px;
  }

  .process-order-payment div{
    display: flex;
  }

  .process-order-payment h1{
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin: 30px 10px 0px 20px;
  }

  .process-order-payment p{
    margin-top: 27px;
    font-size: 16px;

  }

  .process-order-payment_amount p{
    margin-left: 20px;
    margin-top: 0;
    font-weight: 600;
    margin-right: 10px;
  }

  .process-order-cart-item h1{
    font-weight: 600;
    font-size: 20px;
    color: #000;
    text-align: center;
    padding: 20px;
  }

  .process-order-cart-item div{
    padding: 20px
  }

  .process-product-link{
    padding: 6px
  }

  .process-order-cart-item{
    box-shadow: 2px 2px 2px 2px #ffd90c;
    min-height: 60px;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 18px;
  }