.productListContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.MuiDataGrid-root.MuiDataGrid-autoHeight{
  margin: 0 20px
}

.dashboard{
  width: 100%;
}

#productListHeading {
    font: 400 2rem "Merriweather Sans";
    padding: 0 5vmax;
    box-sizing: border-box;
    color: #000;
    font-weight: bold;
    transition: all 0.5s;
    margin: 2rem;
    letter-spacing: 6px;
    text-align: center;
}

.productListTable {
    background-color: white;
}

.productListTable div {
    font: 300 1vmax "Merriweather Sans";
    color: #000;
    border: none !important;
}

.productListTable a,
.productListTable button {
  color: #000;
  transition: all 0.5s;
}

.MuiIconButton-sizeSmall{
  color: #fff !important
}

.productListTable a:hover {
  color: rgb(206, 206, 33);
}

.productListTable button:hover {
  color: rgb(236, 30, 30);
}

.MuiDataGrid-columnHeader div {
  color: #fff;
  text-align: left;
}

.MuiDataGrid-columnHeaderTitleContainer{
  flex-direction: unset !important;
}

.MuiDataGrid-columnHeaderWrapper{
  background-color: #000;
  padding: 6px;
}

.MuiDataGrid-cell--textRight{
  text-align: left !important; 
  justify-content: flex-start !important;
}

@media screen and (max-width: 600px) {
    .productListTable div {
      font: 300 4vw "Merriweather Sans";
    }
  }